*, .app {
    padding: 0;
    margin: 0
}

.Aside[data-v-a18323f0] {
    height: 100%;
    margin: 0;
    padding: 0
}

.AsideCollapse[data-v-a18323f0] {
    width: 50px
}

.Header[data-v-636b198c] {
    height: 100%;
    background-color: #48a2ff;
    margin: 0;
    padding: 0
}

.example-showcase .el-dropdown-link[data-v-636b198c] {
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    align-items: center
}

.layout[data-v-9594225e] {
    height: 100%;
    margin: 0;
    padding: 0
}

.aside[data-v-9594225e] {
    width: 200px;
    transition: all .3s ease-in-out
}

.asideCollapse[data-v-9594225e] {
    width: 65px
}

.box {
    margin: 200px auto;
    width: 600px;
    height: 400px;
    background-color: #824d51;
    display: flex;
    position: relative
}

.pos {
    position: absolute;
    top: 35%;
    left: 17%
}

.item .el-form-item__label {
    color: #f0f8ff
}

.doc-preview[data-v-a1f79df4] {
    width: 100%;
    background-color: #f5f5f5
}